{% set page_title='Login' %}

{% extends 'layout.html.twig' %}

{% block flash %}{% if error %}
    <twig:Alert type="danger" icon="true" dismissible="true" autohide="true" data-delay="3"
                message="{{ error.messageKey|trans(error.messageData, 'security') }}"/>{% endif %}{% endblock %}

{% block content %}

    <div class="h-full container mx-auto flex flex-col justify-center items-center w-screen">

        <div class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 w-full md:w-[50vw]">
            <h3 class="h3 text-center mb-5 capitalize">{{ 'login'|trans }}</h3>
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize"
                            for="username">{{ 'username'|trans }}</label>
                    <input
                            class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required
                            type="text" id="username" name="_username" value="{{ last_username }}">
                </div>
                <div class="mb-3">
                    <label
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white capitalize"
                            for="password">{{ 'password'|trans }}</label>
                    <input
                            class="text-gray-900 bg-gray-50 rounded-lg text-sm block w-full p-2.5 border border-gray-300 focus:z-10 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required
                            type="password" id="password" name="_password">
                </div>


                <div class="mb-3">
                    <div class="flex items-baseline">
                        <input role="switch" type="checkbox" name="_remember_me" id="remember-me">
                        <label for="remember-me">
                            {{ 'Remember me'|trans }}
                        </label>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"> #}
                <div class="flex items-center">
                    <div class="me-auto">
                        {% if can_register %}
                            <a href="{{ path('app_register') }}" class="link-primary hover-underline capitalize">
                                {{ 'Create an account'|trans }}
                            </a>
                        {% endif %}
                    </div>

                    <div class="text-right">
                        <button
                                class="btn btn-primary"
                                type="submit"
                                data-te-ripple-init>
                            {{ 'login'|trans }}
                        </button>
                    </div>

                </div>

            </form>

        </div>

    </div>
{% endblock %}
