{% set page_title='Register' %}

{% extends 'layout.html.twig' %}

{% block content %}
    <div class="h-full container mx-auto flex flex-col justify-center items-center w-screen select-none">

        <div class="block rounded-lg bg-white p-6 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 w-full md:w-[50vw]">
            <h3 class="h3 text-center mb-5 capitalize">{{ page_title|trans }}</h3>
            {% if not closed %}
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'|trans
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <div class="flex items-center">
                    <div class="me-auto">
                        {% if hasUsers %}
                            <a href="{{ path('app_login') }}" class="link-primary hover-underline capitalize">
                                {{ 'login'|trans }}
                            </a>
                        {% endif %}
                    </div>

                    {{ form_row(registrationForm.register) }}
                </div>

                {{ form_end(registrationForm) }}

            {% else %}

                <div class="flex flex-col items-center">
                    <img
                            data-te-toggle="tooltip"
                            title="{{ 'Registration is closed'|trans }}"

                            class="object-cover object-center cursor-pointer"
                            width="470" height="268"
                            alt="{{ 'Registration is closed'|trans }}" src="{{ asset('picture/regoff.webp') }}">
                    <div class="text-center mt-4">
                        <a href="{{ path('app_welcome') }}" class="btn btn-primary text-center">
                            <twig:Micon name="arrow_back"/>
                            {{ 'Go back'|trans }}
                        </a>
                    </div>

                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
