<!DOCTYPE html>
{% if app.session.get('theme') == 'dark' %}
<html lang="{{ app.request.locale ?: app.request.defaultLocale }}" class="dark">
{% else %}
<html lang="{{ app.request.locale ?: app.request.defaultLocale }}">
{% endif %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}
        <link rel="icon"
              href="{{ asset('assets/pictures/svelte.svg', 'vite') }}">
    {% endblock head %}
    {% block stylesheets %}
        {{ vite_entry_link_tags('app') }}
    {% endblock stylesheets %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ vite_entry_script_tags('app') }}
{% endblock javascripts %}
</body>
</html>
