{% extends 'base.html.twig' %}

{% block title %}{{ option_get('site.title') }}{% if page_title is defined %} - {{ page_title|trans }}{% endif %}{% endblock title %}

{% block head %}
    {{ parent() }}
    {% include 'includes/_darkmode.html.twig' %}
    <link rel="icon"
          href="{{ asset(option_get('site.icon')) }}">
{% endblock head %}

{% set deltaPage =  app.environment == 'dev' ? 108 : 72 %}
{# Tailwind preloading
    .min-h-[calc(100vh-108px)] .min-h-[calc(100vh-72px)]
    .h-[calc(100vh-108px)]  .h-[calc(100vh-72px)]
#}

{% block body %}
    {% block header %}
        <header class="sticky top-0">
            {% include 'includes/_navbar.html.twig' %}
        </header>
    {% endblock header %}
    <div class="fixed z-[5000] right-0 bottom-[32px] px-2 w-screen sm:max-w-[66vw] lg:max-w-[33vw] flex flex-col-reverse empty:hidden"
    >{% include 'includes/_flash.html.twig' %}{% block flash %}{% endblock flash %}</div>

    {% block pages %}
        <div class="w-screen min-h-[calc(100vh-{{ deltaPage }}px)] h-[calc(100vh-{{ deltaPage }}px)] py-4">
            {% block content %}{% endblock content %}
        </div>
    {% endblock pages %}
    {% block footer %}
        <footer>{% include 'includes/_footer.html.twig' %}</footer>{% endblock footer %}
{% endblock body %}